a {
  color: darkgreen;
}
.btn-success {
  background-color: black;
  font-weight: bold;
}
.feature-detail-item {
  display: none;
}
#feature-detail {
  display: none;
  position: absolute;
  color: black;
  border-style: solid;
  /* border-top: 5px; */
  border-color: darkgreen;
  border-width: 10px;
  border-radius: 20px;
  background-color: white;
  width: 60%;
  height: auto;
  z-index: 10;
  padding: 2em;
  box-shadow: 0 0 30px gray;
}
.feature-grid {
  margin-top: 2em;
  margin-bottom: 2em;
}
.feature-img {
  background-color: white;
  text-align: center;
  transition: color 400ms;
  transition: background-color 400ms;
  transition: border-radius 100ms;
  border-radius: 50%;
  padding: 1em;
}
.feature-img:hover {
  background-color: green;
  color: white;
  border-radius: 20px;
}
.feature-img>a>img {
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 100ms;
}
.feature-img:hover >a>img {
  border-radius: 20px;
}
.nav-tabs .nav-link.active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: green;
}
.nav-tabs a, .nav-pills a {
  color: green;
}
.osada-wheel {
  font-size: larger;
}
.bold-statement {
  text-align: center;
  font-size: 1.5em;
}
.jumbotron {
  background-image: url(../img/cafe_large.jpeg);
  background-color: green; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}
#intro-content {
  background-color: green;
  color: white;
  font-size: 1.2em;
  margin-top: -40px;
  margin-bottom: 2.0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: justify;
}
#feature-carousel {
  width: 100%;
  background-color: green;
  margin-bottom: 2.0em;
}
.carousel-caption {
  margin-top: 2.0em;
  position: relative;
  left: auto;
  right: auto;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.full-width-content h2 {
  text-align: center;
}
#choose-adventure-narrow {
  display: none;
}
#choose-adventure-wide {
  display: flex;
}
.nav-pills {
  border-right: medium solid green;
}
.nav-pills .nav-link {
  border-radius: 0;
}
@media screen and (max-width: 1000px) {
  .feature-img>h3 {
    font-size: 1.2em;
  }
  .tab-content {
    border-top: medium solid green;
    padding-top: 0.5em;
  }
  .nav-pills {
    border-right: none;
  }
  #choose-adventure-narrow {
    display: block;
  }
  #choose-adventure-wide {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #intro-content {
    font-size: 1.1em;
  }
  #feature-detail {
    font-size: 0.75em;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  #feature-carousel {
    display: none;
  }
  .choose-adventure {
    font-size: smaller;
  }
}
@media screen and (max-width: 500px) {
  #intro-content {
    text-align: center;
  }
  .full-width-content h2 {
    text-align: left;
  }
  .feature-img {
    margin-left: 20%;
    margin-right: 20%;
  }
  #v-tabs-tabContent {
    margin-left: 1em;
    margin-right: 1em;
  }
}
